# Configuración de Discord
DISCORD_TOKEN=tu_token_aqui
CLIENT_ID=tu_client_id_aqui
GUILD_ID=tu_guild_id_opcional_aqui

# Registro de Comandos
REGISTER_COMMANDS_ON_START=true

# Base de datos (Prisma)
DATABASE_URL="postgresql://usuario:password@localhost:5432/owens_db?schema=public"
